ul {
  list-style-type: none;
}

.itensCards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100px;
  height: 100px;
  margin: 50px;
}

aside .card {
  width: 100px;
  height: 100px;
  margin: 10px;
}
